:root{
    --fondo-nav: #8444a2;
    --fondo-main: #eeeded;
    --btn-primary: #9debf5;
    --btn-secondary: #795286;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: auto;
    overflow: auto;
    scrollbar-gutter: auto;
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: 100%;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    background-color: var(--fondo-main);
    display: flex;
    flex-direction: column;
    gap: 10em;
    scrollbar-color: gray;
}

a {
    text-decoration: none; /* Elimina el subrayado */
    color: inherit; /* Hereda el color del texto del elemento padre */
}

a:hover {
    color: inherit; /* Mantén el color del texto al pasar el cursor */
}