
.form{
    display: flex;
    flex-direction: column;
    height:100%;
    width: 100%;
}

.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.form-screen{
    height: 80%;
    min-height: 20%;
    width: 100%;
    border-radius: 1.5em;
    padding: 1em;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


.form-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10%;
}

.title-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-title{
    color: var(--fondo-nav);
    /* color: white; */
    font-weight: 800;
    border-radius: 1em;
    position: relative;
}

.title-underline{
    width: 3em;
    height: auto;
    z-index: 12;
}

.form-button{
    cursor: pointer;
    outline: none;
    color: var(--btn-primary);
    border: 1px solid var(--btn-primary);
    background: transparent;
}

.form-body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.form-top, .form-center, .form-bottom{
    display: flex;
    width: 90%;
    height: 33%;
    justify-content: space-evenly;
    align-items: center;
}

.items-container{
    height: 100%;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.items-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    font-size: 1em;
    padding-bottom: .5em;
}


.input-container, .input-carac{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5em;
    height: 100%;
    width: 95%;
}


.items-container label, .input-container label, .input-file label, .input-carac label{
    font-size: .8em;
    padding-left: .3em;
}

.input-container input, .opciones{
    background-color: var(--fondo-main);
    border-radius: 1em;
    outline: none;
    border: none;
    height: 2.5em;
    padding: 1em;
    width: 90%;
}

.input-carac input{
    background-color: white;
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(180, 180, 180);
    height: 2.5em;
    padding: 1em;
    width: 90%;
}

.opciones{
    padding: .7em;
    cursor: pointer;
}

.input-file{
    height: 100%;
    width: 95%;
    gap: .5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 20;
}

.input-file input{
    width: 90%;
}

.required{
    color: var(--fondo-nav)
}

.btn-file, .btn-carac{
    align-self: last baseline;
    padding-right: 2em;
    cursor: pointer;
    color: var(--btn-primary)
}


.form-rules{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-rules p{
    color: var(--fondo-nav);
}

.form-rules button{
    background-color: var(--btn-primary);
    border-radius: 1.5em;
    outline: none;
    cursor: pointer;
    border: none;
    color: white;
}

@media (max-width: 767px) {

    .screen-text{
        font-size: .9em;
        text-align: center;
    }

    .form-screen{
        min-height: 20vh;
    }

    .form-container{
        width: 90%;
        height: auto;
        gap: 3em;    
    }

    .form{
        gap: 2em;
    }

    .form-header{
        justify-content: space-between;
    }

    .form-body{
        gap: 1.5em;
    }

    
    .form-title{
        font-size: 1.5em;
    }
    
    .form-button{
        width: 12em;
        height: 2.5em;
        font-size: .9em;
        border-radius: 3em;
    }

    .form-top, .form-center, .form-bottom{
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 25%;
        gap: 1.5em;
    }

    .input-container input, .opciones, .input-carac input, .input-file input{
        width: 100%;
        font-size: 1.1em;
    }

    .items-container label, .input-container label, .input-file label, .input-carac label{
        font-size: 1em;
        padding-left: .3em;
    }

    .form-rules{
        width: 100%;
    }
    
    .form-rules p{
        font-size: .8em;
        width: 40%;
        text-align: center;
    }
    
    .form-rules button{
        width: 8em;
        height: 2.5em;
        font-size: 1.1em;
    }

    
}

@media (min-width: 768px) and (max-width: 1024px) {
    .screen-text{
        font-size: 1.2em;
        text-align: center;
    }
    
    .form-container{
        width: 90%;
        height: auto;
        gap: 3em;    
    }

    .form{
        gap: 2em;
    }

    .form-body{
        gap: 1.5em;
    }

    .form-title{
        font-size: 1.8em;
    }
    
    .form-button{
        width: 15em;
        height: 2.5em;
        font-size: 1em;
        border-radius: 3em;
    }

    .form-top, .form-center, .form-bottom{
        width: 100%;
        height: 25%;
        gap: 1.5em;
    }

    .input-container input, .opciones, .input-carac input, .input-file input{
        width: 100%;
        font-size: 1.1em;
    }

    .form-rules{
        width: 100%;
    }
    
    .form-rules p{
        font-size: .8em;
        width: 40%;
        text-align: center;
    }
    
    .form-rules button{
        width: 8em;
        height: 2.5em;
        font-size: 1.1em;
    }
}

@media (min-width: 1025px) and (max-width: 1366px){
    .screen-text{
        font-size: 1.4em;
        text-align: center;
    }


    .form-body{
        height: 100%;
        font-size: .9em;
        justify-content: flex-start;
    }
  
    .form-container{
        width: 75%;
        min-height: 30vh;
    }
    
    .form-title{
        font-size: 2em;
    }
    
    .form-button{
        width: 15em;
        height: 2.5em;
        font-size: 1.1em;
        border-radius: 3em;
    }

    .form-top, .form-center, .form-bottom{
        width: 95%;
        height: 30%;
        justify-content: space-between;
        gap: 1.5em;
    }

    .input-container input, .opciones, .input-carac input, .input-file input{
        width: 100%;
        font-size: 1.3em;
    }

    .items-container label, .input-container label, .input-file label, .input-carac label{
        font-size: 1em;
        padding-left: .3em;
    }

    .form-rules{
        width: 100%;
    }
    
    .form-rules p{
        font-size: .9em;
        width: 40%;
        text-align: center;
    }
    
    .form-rules button{
        width: 8em;
        height: 2.5em;
        font-size: 1.1em;
    }
    
    
}

@media (min-width: 1367px) and (max-width: 1920px){
    .form-body{
        height: 100%;
        font-size: 1.1em;
        justify-content: flex-start;
    }
  
    .form-container{
        width: 75%;
        height: 75vh;
    }
    
    .form-title{
        font-size: 2.2em;
    }
    
    .form-button{
        width: 15em;
        height: 2.5em;
        font-size: 1.3em;
        border-radius: 3em;
    }

    .form-top, .form-center, .form-bottom{
        width: 95%;
        height: 30%;
        justify-content: space-between;
        gap: 1.5em;
    }

    .input-container input, .opciones, .input-carac input, .input-file input{
        width: 100%;
        font-size: 1.3em;
    }

    .items-container label, .input-container label, .input-file label, .input-carac label{
        font-size: 1.1em;
        padding-left: .3em;
    }

    .form-rules{
        width: 98%;
    }
    
    .form-rules p{
        font-size: 1.1em;
        width: 40%;
        text-align: center;
    }
    
    .form-rules button{
        width: 8em;
        height: 2.5em;
        font-size: 1.4em;
    }
}

@media (min-width: 1921px) {
    .form-body{
        height: 100%;
        font-size: 1.1em;
        justify-content: flex-start;
    }
  
    .form-container{
        width: 75%;
        height: 75vh;
    }
    
    .form-title{
        font-size: 2.4em;
    }
    
    .form-button{
        width: 15em;
        height: 2.5em;
        font-size: 1.4em;
        border-radius: 3em;
    }

    .form-top, .form-center, .form-bottom{
        width: 95%;
        height: 30%;
        justify-content: space-between;
        gap: 1.5em;
    }

    .input-container input, .opciones, .input-carac input, .input-file input{
        width: 100%;
        font-size: 1.3em;
    }

    .items-container label, .input-container label, .input-file label, .input-carac label{
        font-size: 1.2em;
        padding-left: .3em;
    }

    .form-rules{
        width: 98%;
    }
    
    .form-rules p{
        font-size: 1.2em;
        width: 40%;
        text-align: center;
    }
    
    .form-rules button{
        width: 8em;
        height: 2.5em;
        font-size: 1.5em;
    }
}