main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-section{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.form-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40%;
}

