:root{
    --fondo-nav: #8444a2;
    --fondo-main: #eeeded;
    --btn-primary: #00a8e8;
    --btn-secondary: #795286;
}


header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--fondo-nav);
    color: white;
    height: 8%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; /* Asegura que el header esté por encima de otros elementos */
    transition: top .3s;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 70%;
}

.nav-options{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 20%;
    cursor: pointer;
}

.logo-container{
    width: 150px;
    height: auto;
}

.logo-container img{
    max-width: 100%;
    max-height: 100%;
    cursor: pointer
}